<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <div class="auth-logo">
      <span class="gradient-text">PicLens</span>
    </div>
    <h2 class="mb-4 text-center">Iniciar sesión</h2>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <%= form_with url: login_path, local: true do |f| %>
      <div class="mb-3">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, class: "form-control" %>
      </div>
      <%= submit_tag "Iniciar sesión", class: "btn btn-primary w-100" %>
    <% end %>
    <div class="text-center mt-3">
      <%= link_to "¿No tienes cuenta? Regístrate", new_user_path, class: "text-decoration-none" %>
    </div>
  </div>
</div>
